<div class="container-fluid">
    <div class="row justify-content-sm-center">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <img src="/assets/img/burger.png">
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="col-sm"></div>
</div>

<div class="row justify-content-sm-center">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <h3>Eat Da Burger, Baby!</h3>
    </div>
    <div class="col-sm"></div>
</div>

{{!-- display burgers --}} 
{{#each burgers}} 
<div class="row ">
    <br><br>
    <div class="col-sm-1"></div>
    <div class="col-sm-3 justify-content-sm-right">
         {{#unless devoured}}  
        <p class="text-left form-control">                    
            {{id}}. {{burger_name}}                                        
        </p>  
         {{/unless}}        
    </div>
    <div class="col-sm-2">
         {{#unless devoured}}    
          <form method="POST" action="/devourBurger/{{id}}">          
        <button type="submit"  class="btn btn-light">Devour It!</button>
        </form>
         {{/unless}}  
    </div>
     <div class="col-sm-1"></div>
     <div class="col-sm-3 justify-content-sm-right">
         {{#if devoured}} 
        <p class="text-left form-control">                      
            {{id}}. {{burger_name}}                                
        </p>
        {{/if}}  
    </div>
</div>
 {{/each}} 

{{!-- enter a new burger and submit --}}
<div class="row justify-content-sm-center">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <form method="POST" action="/createBurger">
            <div class="form-group">
                <textarea class="form-control" id="newBurger" name="newBurger" rows="1"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br>
            <br>
            <p>Enter a burger you want to eat and click the "Submit" button</p>
        </form>
    </div>
    <div class="col-sm"></div>
</div>